[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".themes/Ant-Dracula"]
	path = .themes/Ant-Dracula
	url = https://github.com/EliverLara/Ant-Dracula.git
[submodule ".fonts/ubuntu-mono-powerline-ttf"]
	path = .fonts/ubuntu-mono-powerline-ttf
	url = https://github.com/pdf/ubuntu-mono-powerline-ttf
[submodule ".fonts/nerd-fonts"]
	path = .fonts/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
